html {
	position: relative;
    min-height: 100%;
}

* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
	font-weight: normal;
	scroll-behavior: smooth;
}

body {
    background-color: #efefef;
	font-family: Poppins Regular!important;
	color: black!important;
	width: 100%;
	height: 100%;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}

/* CONTEUDO */
.conteudo {
    width: 100%;
    float: left;
    padding: 3% 4%;
    text-align: center;
}

/* COLORS */
.color-0 { color: #000000; } .color-1 { color: #0000AA; } .color-2 { color: #00AA00; } .color-3 { color: #00AAAA; }
.color-4 { color: #AA0000; } .color-5 { color: #AA00AA; } .color-6 { color: #FFAA00; } .color-7 { color: #AAAAAA; }
.color-8 { color: #555555; } .color-9 { color: #5555FF; } .color-a { color: #55FF55; } .color-b { color: #55FFFF; }
.color-c { color: #FF5555; } .color-d { color: #FF55FF; } .color-e { color: #ffd61d; } .color-f { color: #FFFFFF; }

/* TOPO */
.site {
	width: 100%;
	background-image: url(../img/background.png);
	background-repeat: no-repeat;
	background-size: 100%;
}

.logo-imagem {
	width: 100%;
}

.logo-imagem img {
	width: 30%;
	margin-bottom: 6%;
}

/* MENU */
.menu {
	padding: 0 5%;
}

.menu ul li a {
	float: left;
	padding: 1%;
	margin: 0 .25%;
	color: white;
	font-size: 17.5px;
	text-decoration: none;
	border-radius: 5px;
	transition: all 1s;
}

.menu ul li:hover a {
	color: white;
	background: black;
}

.menu ul li:last-child a {
	float: right;
	transition: all .8s;
}

.menu ul li:last-child a:hover {
	background: green;
}

/* SITE */
.site-section {
	padding: 2%;
	width: 95%;
	margin: 0 2.5%;
	margin-top: 2.5%;
	background: white;
	border: 1px solid lightgray;
	box-shadow: 0 0 8px #c5c5c5;
}

.index-section {
	float: left;
	margin: 0!important;
	width: 80%!important;
}

/* PROPAGANDA */
.propaganda, .mais-vendido {
	padding: 0;
	margin-bottom: 1%;
	width: 19.5%;
	float: right;
	background: white;
	border: 1px solid lightgray;
	box-shadow: 0 0 8px #c5c5c5;
	text-align: left;
}

.propaganda h5, .mais-vendido h5 {
	width: 95%;
	margin: 2.5%;
	font-size: 20px;
	border-bottom: 1px solid black;
}

/* PESQUISA */
.pesquisa {
	float: left;
	width: 80%;
	padding: 0;
	box-shadow: 0 0 8px #c5c5c5;
	border: 1px solid lightgray;
	border-radius: 5px;
}

.pesquisa input[type=text] {
	padding: .75%;
	width: 95%;
}

.pesquisa button {
	padding: .75%;
	background: white;
	font-size: 15px;
}

.pesquisa input::placeholder {
	color: black;
}

/* ICONES */
.icones {
	padding: 0;
	width: 20%;
	text-align: right;
	float: right;
}

.icones a {
	color: black;
	text-decoration: none;
	transition: all 1s;
}

.icones a:hover {
	color: #ff9600;
}

.icones i {
	margin: 0 2.5%;
	font-size: 35px;
}

/* IMAGENS */
.imagens {
	padding: 0;
}

.imagens img {
	width: 100%;
	height: 400px;
	margin: 1.5% 0;
}

/* PRODUTOS */
.produtos {
	padding: 0;
}

.produtos h1 {
	margin: 0;
	margin-bottom: .5%;
	border-bottom: 1px solid black;
}

.produto {
	padding: 0;
	float: left;
	width: 23%;
	margin: 1%;
	box-shadow: 0 0 8px #c5c5c5;
	border: 1px solid lightgray;
	transition: all .9s;
	background: white;
}

.produto img {
	height: 290px;
	width: 100%;
	padding: 10%;
}

.produto:hover {
	-moz-transform: scale(1.09);
    -webkit-transform: scale(1.09);
    transition: scale(1.09);
}

.produto-info {
	padding: .5% 4%;
	text-align: left;
}

.produto-info h1 {
	margin: 0;
	font-size: 22.5px;
	border: 0;
}

.produto-info h2 {
	font-size: 13px;
	margin: 0;
	margin-bottom: 6%;
}

.produto-info h2:first-child {
	margin-bottom: 0!important;
}

.produto-info p {
	margin-bottom: 0;
	font-size: 17.5px;
	text-decoration: line-through;
}

.produto-info h3 {
	margin: 0;
	margin-top: -2%;
	font-size: 25px;
	text-decoration: none;
}

.produto-btn {
	width: 60%;
	padding: 2% 4%;
	margin: 4% 20%;
	margin-bottom: 6%;
	color: black;
	font-size: 17.5px;
	border: 1px solid lightgray;
	transition: all .9s;
}

.produto-btn:hover {
	border: 1px solid blue;
	color: blue;
	text-decoration: none;
}

/* CARRINHO */
.carrinho {
	padding: 0;
	width: 78%;
	float: left;
}

.carrinho h1, .carrinho-checkout h1 {
	margin: 0;
	text-align: left;
	font-size: 25px;
	border-bottom: 1px solid black;
	margin-bottom: 1%;
}

.carrinho-checkout {
	width: 20%;
	float: right;
	padding: 0;
}

.carrinho-checkout-frete {
	padding: 0;
	margin: 4% 0;
	text-align: left;
}

.carrinho-checkout-frete-title {
	cursor: pointer;
	background: #008AFF;
	box-shadow: 0 0 8px #c5c5c5;
	border-radius: 5px 5px 0 0;
	padding: 1% 2%;
}

.carrinho-checkout-frete-title h1 {
	border: none;
	font-size: 15px;
	color: white;
}

.carrinho-checkout-frete-cep {
	float: left;
	width: 100%;
	padding: 3% 2%;
	padding-bottom: 1%;
	margin-bottom: 2%;
	border: 1px solid #008AFF;
}

.checkout-frete-cep {
	font-size: 15.5px;
}

.checkout-frete-cep input {
	background: #008AFF;
	width: 45%;
	padding: 0 2%;
	margin-bottom: 4%;
}

.checkout-frete-cep input[value] {
	color: white;
	text-align: left;
}

.checkout-frete-price {
	font-size: 13px;
	margin: 0;
}

.checkout-frete-price p {
	margin: 0;
}

.checkout-frete-price p:last-child {
	margin-top: -2%;
}

.carrinho-checkout-content {
	padding: 0;
	font-size: 14.5px;
}

.carrinho-checkout-content span {
	float: left;
	text-align: left;
	width: 65%;
}

.carrinho-checkout-content p {
	margin: 0;
	float: right;
	text-align: right;
	width: 35%;
}

.carrinho-btn-checkout {
	margin-top: 3.25%;
	border: 1px solid green;
	color: green;
	font-size: 16px;
	transition: all 1s;
}

.carrinho-btn-checkout:hover {
	background: green;
	color: white;
}

.carrinho-info {
	padding: 0;
	text-align: left;
}

.carrinho-info-content {
	padding: 0;
	width: 14%;
	float: right;
	font-size: 17.5px;
	text-align: center;
}

.carrinho-info-content:first-child {
	float: left;
	width: 20%;
	text-align: left;
}

.carrinho-info-content p {
	margin: 0;
}

.carrinho-content {
	border: 1px solid lightgray;
	border-bottom: none;
	padding: 0;
	float: left;
	margin-top: 0;
}

.carrinho-content:last-child {
	border-bottom: 1px solid lightgray;
}

.carrinho-content-img {
	padding: 0;
	width: 8%;
	float: left;
}

.carrinho-content-img img {
	width: 95%;
	padding: 10%;
	border-right: 1px solid lightgray;
}

.carrinho-content-titulo {
	float: left;
	width: 50%;
	padding: .5% .3%;
	text-align: left;
}

.carrinho-content-titulo a {
	border: none;
	font-size: 15px;
	color: black;
}

.carrinho-content-qnt {
	float: left;
	width: 15%;
	padding: 2%;
	padding-left: .5%;
}

.carrinho-content-qnt input {
	width: 50%;
	padding: 2%;
	font-size: 16px;
	border: 1px solid lightgray;
	text-align: center;
}

.carrinho-content-price {
	float: left;
	width: 12%;
	padding: 2%;
	margin-top: .2%;
}

.carrinho-content-price p {
	margin: 0;
	font-size: 17px;
	margin-left: 10%;
}

.carrinho-content-subtotal {
	float: left;
	width: 15%;
	padding: 2%;
	margin-top: .2%;
}

.carrinho-content-subtotal p {
	margin: 0;
	font-size: 17px;
	margin-left: 12.5%;
}

.carrinho-cupom {
	float: left;
	width: 78%;
	text-align: left;
	padding: 1% 0;
}

.carrinho-cupom h1 {
	margin: 0;
	text-align: left;
	font-size: 25px;
	border-bottom: 1px solid black;
	margin-bottom: 1%;
}

.carrinho-cupom input {
	border: 1px solid lightgray;
	padding: .5%;
	font-size: 15px;
}

.cupom-btn {
	padding: .5% 1.25%;
	margin: 0 .5%;
	font-size: 15px;
	border: 1px solid green;
	color: green;
	transition: all 1s;
}

.cupom-btn:hover {
	background: green;
	color: white;
}

/* RODAPE */
.rede-sociais {
	padding: 1% 2%;
	background: #212121;
}

.rede-sociais ul li a {
	float: left;
	padding: 1%;
	margin: 0 .25%;
	color: white;
	font-size: 17.5px;
	text-decoration: none;
	border-radius: 5px;
	transition: all 1s;
}

.rede-sociais ul li:hover a {
	color: white;
	background: black;
}

.rede-sociais ul li:last-child a:hover {
	background: green;
}

.rede-sociais i {
	float: right;
	font-size: 38px;
	color: white;
	margin: 0 .5%;
	transition: all 1s;
}

.rede-sociais i:hover {
	color: #ff9600;
}

/* RODAPE */
.rodape {
	padding: 0;
	background: #131313;
}

/* PAGTS, SEGURANCA, CERTIFICADO */
.pagts, .seguranca, .certificado, .empresa {
	padding: 1% 2%;
	width: 25%;
	float: left;
	text-align: left;
	color: white;
	font-size: 17.5px;
	margin-bottom: 0;
}

.pagts img {
	width: 18%;
	margin-bottom: 1.5%;
}

.empresa span {
	font-size: 12px;
}

/* CATEGORIA */
.categoria {
	padding: 0;
	text-align: left;
	width: 15%;
	float: left;
	height: 100vh;
	margin-right: 1%;
}

.categoria-title {
	padding: 0;
	text-align: left;
	width: 100%;
	font-size: 15px;
	margin-bottom: 1.5%;
}

.categoria ul h1 {
	margin: 0;
	margin-bottom: 3%;
	font-size: 18px;
	border-bottom: 1px solid black;
}

.categoria ul li a {
	color: black;
	text-decoration: none;
	transition: all .6s;
	font-size: 12.5px;
}

.categoria ul li a:hover {
	color: green;
	text-decoration: none;
}

/* CATEGORIA PRODUTO */
.categoria-produto {
	padding: 0;
	float: left;
	width: 20%;
	margin: .5%;
	border: 1px solid lightgray;
	transition: all .9s;
	background: white;
}

.categoria-produto img {
	height: 260px;
	width: 100%;
	padding: 8%;
}

.categoria-produto:hover {
	border: 1px solid green;
}

.categoria-produto-info {
	padding: .5% 4%;
	text-align: left;
}

.categoria-produto-info h1 {
	margin: 0;
	font-size: 22.5px;
	border: 0;
}

.categoria-produto-info h2 {
	font-size: 13px;
	margin: 0;
	margin-bottom: 6%;
}

.categoria-produto-info h2:first-child {
	margin-bottom: 0!important;
}

.categoria-produto-info p {
	margin-bottom: 0;
	font-size: 17.5px;
	text-decoration: line-through;
}

.categoria-produto-info h3 {
	margin: 0;
	margin-top: -2%;
	font-size: 25px;
	text-decoration: none;
}

.categoria-produto-btn {
	width: 60%;
	padding: 2% 4%;
	margin: 4% 20%;
	margin-bottom: 6%;
	color: black;
	font-size: 17.5px;
	border: 1px solid lightgray;
	transition: all .9s;
}

.categoria-produto-btn:hover {
	border: 1px solid blue;
	color: blue;
	text-decoration: none;
}

/* REGISTRO */
.registro {
	width: 50%;
	float: left;
	padding: 1%;
}

.registro h1 {
	margin: 0;
	text-align: left;
	font-size: 25px;
	border-bottom: 1px solid black;
	margin-bottom: 2%;
}

.registro-content-form {
	float: left;
	width: 100%;
}

.registro-content-form span {
	width: 100%;
	float: left;
	text-align: left;
	font-size: 16px;
}

.registro-content-form input {
	float: left;
	border: 1px solid lightgray;
	background: #efefef;
	width: 75%;
	padding: .5%;
}

.registro-button {
	margin-top: 2.5%;
	width: 25%;
	padding: 1%;
	background: green;
	color: white;
	border-radius: 5px;
	transition: all .8s;
	float: left;
}

.registro-button:hover {
	box-shadow: 0 0 8px black;
}

.registro-button p {
	margin: 1% 0;
	font-size: 16px;
}

/* LOGIN */
.login {
	width: 50%;
	float: right;
	padding: 1%;
}

.login h1 {
	margin: 0;
	text-align: left;
	font-size: 25px;
	border-bottom: 1px solid black;
	margin-bottom: 2%;
}

.login-content-form {
	float: left;
	width: 100%;
}

.login-content-form span {
	width: 100%;
	float: left;
	text-align: left;
	font-size: 16px;
}

.login-content-form input {
	float: left;
	border: 1px solid lightgray;
	background: #efefef;
	width: 75%;
	padding: .5%;
}

.login-content-form:first-child {
	margin-bottom: 2%;
}

.login-form a, .login-form a:hover {
	color: black;
	margin-right: 1.5%;
}

.login-button {
	margin-top: 5.5%;
	width: 25%;
	padding: 1%;
	background: green;
	color: white;
	border-radius: 5px;
	transition: all .8s;
	float: left;
}

.login-button:hover {
	box-shadow: 0 0 8px black;
}

.login-button p {
	margin: 1% 0;
	font-size: 16px;
}
